<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "xp_window", "data-turbo-track": "reload" %>
<% end %>
<% content_for :title, "Sidequests" %>
<% content_for :og_description, "Take on challenges for extra bonuses! Browse active and past sidequests on Flavortown." %>
<% content_for :og_image, og_image_url('sidequests', format: :png) %>
<% content_for :twitter_card, "summary_large_image" %>

<%= render HeadingComponent.new(title: "Sidequests", tone: :green, size: :full) %>

<div class="sidequests-index">
  <h1 class="sidequests-index__subtitle">Looking for a sidequest? Take on one of these challenges for extra bonuses!</h1>

  <div class="sidequests-index__cards">
    <% @active_sidequests.each do |sidequest| %>
      <%= render_sidequest_card(sidequest) %>
    <% end %>
  </div>

  <% if @expired_sidequests.any? %>
    <h2 class="sidequests-index__section-title">Past Sidequests</h2>
    <div class="sidequests-index__cards">
      <% @expired_sidequests.each do |sidequest| %>
        <%= render_sidequest_card(sidequest) %>
      <% end %>
    </div>
  <% end %>
</div>
