<div class="super-mega-dashboard__dashboard">
  <div class="super-mega-dashboard__header super-mega-dashboard__header--payouts">
    <h2>Payouts Overview</h2>
    <%= link_to "View Full Dashboard →", admin_payouts_dashboard_path, class: "super-mega-link" %>
  </div>

  <div class="super-mega-dashboard__cards">
    <div class="super-mega-dashboard__card">
      <h3>Total Circulation</h3>
      <div class="super-mega-dashboard__stats">
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value"><%= number_with_delimiter(@payouts_cap) %></span>
          <span class="super-mega-dashboard__stat--label yellow">Cookies</span>
        </div>
      </div>
    </div>

    <div class="super-mega-dashboard__card">
      <h3>Last 24 Hours</h3>
      <div class="super-mega-dashboard__stats">
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value">+<%= number_with_delimiter(@payouts[:created]) %></span>
          <span class="super-mega-dashboard__stat--label green">Created</span>
        </div>
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value">-<%= number_with_delimiter(@payouts[:destroyed]) %></span>
          <span class="super-mega-dashboard__stat--label red">Destroyed</span>
        </div>
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value"><%= number_with_delimiter(@payouts[:txns]) %></span>
          <span class="super-mega-dashboard__stat--label blue">Transactions</span>
        </div>
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value"><%= number_with_delimiter(@payouts[:volume]) %></span>
          <span class="super-mega-dashboard__stat--label purple">Volume</span>
        </div>
      </div>
    </div>

    <div class="super-mega-dashboard__card">
      <h3>Cookie $ per hour <span id="cookie-dollars-per-hour-formula">ⓘ</span></h3>
      <div class="super-mega-dashboard__stats">
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value"><%= @dollars_per_hour.round(2) %></span>
          <span class="super-mega-dashboard__stat--label">$/hr</span>
        </div>
      </div>
    </div>

    <div class="super-mega-dashboard__card">
      <h3>Expenses $ per hour <span id="expenses-dollars-per-hour-formula">ⓘ</span></h3>
      <div class="super-mega-dashboard__stats">
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value"><%= @expenses_dollars_per_hour.round(2) %></span>
          <span class="super-mega-dashboard__stat--label">$/hr</span>
        </div>
      </div>
    </div>

    <div class="super-mega-dashboard__card">
      <h3>Cookie Utilization Ratio</h3>
      <div class="super-mega-dashboard__stats">
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value"><%= @cookie_utilization_percentage %>%</span>
          <span class="super-mega-dashboard__stat--label">Utilization</span>
        </div>
      </div>
    </div>

    <div class="super-mega-dashboard__card">
      <h3>Contractor Payments</h3>
      <div class="super-mega-dashboard__stats">
        <div class="super-mega-dashboard__stat">
          <span class="super-mega-dashboard__stat--value"><%= @contractor_expenses.round(2) %></span>
          <span class="super-mega-dashboard__stat--label">$</span>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render TooltipComponent.new(target_id: "cookie-dollars-per-hour-formula", position: :top) do %>
  <span>[(total_cookies/5)/weighted_hours]</span>
<% end %>

<%= render TooltipComponent.new(target_id: "expenses-dollars-per-hour-formula", position: :top) do %>
  <span>(total_expenses/weighted_hours)</span>
<% end %>
