<% content_for :title, "Extensions" %>
<% content_for :og_title, "Stardance Extensions" %>
<% content_for :og_description, "Discover community-built tools and integrations for Stardance." %>
<% content_for :og_image, og_image_url('extensions', format: :png) %>

<div class="explore explore--extensions" data-controller="load-more" data-load-more-url-value="<%= explore_extensions_path %>">
  <%= render HeadingComponent.new(title: "Explore", tone: :blue, size: :full) %>

  <%= render "explore/explore_nav" %>

  <div class="explore__header">
      <p class="explore__description">
          Projects that integrate with Stardance, shown by usage.
          At least 2 weekly users needed to show up.
      </p>
      <details class="explore__details">
          <summary>How to register your extension</summary>
          <div class="explore__details-content">
              <p>Add a header to your HTTP requests identifying your project:</p>
              <code class="explore__code">X-Stardance-Ext-{project_id}: true</code>
              <p>For example, if your project ID is <strong>42</strong>:</p>
              <code class="explore__code">X-Stardance-Ext-42: true</code>
          </div>
      </details>
  </div>

  <div id="project-list" class="explore__projects-list">
    <% if @projects_with_counts.empty? %>
      <p class="explore__empty">No extensions with enough usage yet.</p>
    <% else %>
      <% @projects_with_counts.each do |project| %>
        <div class="project-card project-card--extension">
          <% if project.banner.attached? %>
            <div class="project-card__banner">
              <%= link_to project_path(project), class: "project-card__banner-frame" do %>
                <%= image_tag project.banner.variant(:card),
                              alt: "#{project.title} banner",
                              class: "project-card__banner-image" %>
              <% end %>
            </div>
          <% else %>
            <div class="project-card__banner">
              <%= link_to project_path(project), class: "project-card__banner-frame" do %>
                <%= image_tag "default-banner.png",
                              alt: "#{project.title} banner",
                              class: "project-card__banner-image" %>
              <% end %>
            </div>
          <% end %>
          <div class="project-card__content">
            <h3 class="project-card__title">
              <%= link_to project.title, project_path(project), class: "project-card__title-link" %>
            </h3>
            <% if project.display_description.present? %>
              <p class="project-card__description">
                <%= md truncate(project.display_description, length: 120) %>
              </p>
            <% end %>
          </div>
          <div class="project-card__stats">
            <h5>
              <%= @weekly_user_counts[project.id] || 0 %> weekly users
            </h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
