<% content_for :title, "Following" %>
<% content_for :og_description, "See updates from projects you follow on Stardance." %>

<div class="explore" data-controller="load-more" data-load-more-url-value="<%= explore_following_path %>">
  <%= render "explore/explore_nav" %>

  <div id="project-list" class="explore__projects-list" data-load-more-target="entries">
    <% @projects.each do |project| %>
      <%= render partial: "explore/card", locals: { project: project } %>
    <% end %>
  </div>

  <div class="explore__pagination">
    <% if @pagy.next %>
      <button
        type="button"
        class="btn btn--brown"
        data-load-more-target="button"
        data-load-more-url-value="<%= explore_following_path %>"
        data-turbo="false"
        data-action="load-more#load"
        data-page="<%= @pagy.next %>">
        Load More Projects
      </button>
    <% else %>
      <p class="explore__end">You've reached the end.</p>
    <% end %>
  </div>
</div>
