<% content_for :title, "Explore" %>
<% content_for :og_title, "Explore Stardance" %>
<% content_for :og_description, "Discover projects and devlogs from teen coders on Stardance." %>
<% content_for :og_image, og_image_url('explore', format: :png) %>

<%= render MusicPlayerComponent.new(audio_urls: [audio_path("fireentity - shop.mp3"), audio_path("fireentity - voting.mp3"),audio_path("fireentity - explore.mp3")], default_index: 2) %>

<div class="explore" data-controller="load-more" data-load-more-url-value="<%= explore_index_path %>">
    <%= render HeadingComponent.new(title: "Explore", tone: :blue, size: :full) %>
    <%= render "explore/explore_nav" %>

    <div id="devlog-list" class="explore__list" data-load-more-target="entries">
        <%= render PostComponent.with_collection(@devlogs, current_user: current_user, theme: :explore_mixed) %>
    </div>

    <div class="explore__pagination">
        <% if @pagy.next %>
            <div
                class="explore__sentinel"
                data-load-more-target="sentinel"
                data-page="<%= @pagy.next %>">
                <span class="explore__loading-indicator">Loading more devlogs...</span>
            </div>
        <% else %>
            <p class="explore__end">You've reached the end.</p>
        <% end %>
    </div>
</div>
